/* Hero section styles */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero-title {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    background: linear-gradient(to top, #fff 0%, #b3cfe9 100%);
    background-clip: text;
    color: transparent;
}

.city-image {
    width: 80vw;
    max-width: 1000px;
    position: relative;
    transform: translateY(-15%);
    z-index: 2;
    animation: float 4s ease-in-out infinite;
}



@media (max-width: 700px) {
    .hero-title {
        font-size: 8vw;
    }

    .city-image {
        width: 98vw;
        max-width: 100%;
    }
}

/* home/hero-animation.css */
.hero-title.fade {
    transition: opacity 0.6s ease-in-out;
}
